<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  	<system.web>
    	<compilation tempDirectory="C:\Inetpub\vhosts\mhc9dmh.com\tmp" />
  	</system.web>
  	<system.webServer>
 		<rewrite>
 			<rules>
				<rule name="React" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          				<add input="{REQUEST_URI}" pattern="^/(docs)" negate="true" />
              			<add input="{URL}" negate="true" pattern="\.js$" />
              			<add input="{URL}" negate="true" pattern="\.css$" />
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
 	</system.webServer>
</configuration>